{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Condiciones de uso</title>
    <link rel="stylesheet" href="{% static 'css/estilos_condiciones_privacidad.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_catalogo.css' %}">
</head>
<body>

<div class="contenedor-condiciones-privacidad">
    <h1>Condiciones de uso</h1>
    <h2>1. Información general</h2>
    <p>
        Estas Condiciones de Uso regulan el acceso y uso de la plataforma <strong>Afacila</strong> así como los servicios ofrecidos a través de la misma.<br/>
        Al acceder utilizar la Plataforma, el usuario acepta estas condiciones.
    </p>

    <h2>2. Objeto del servicio</h2>
    <p>
        Afacila es una plataforma destinada a la venta de automatizaciones n8n, permitiendo a los usuarios realizar acciones relacionadas con los servicios ofrecidos dentro de la aplicación.
    </p>

    <h2>3. Registro y cuenta de usuario</h2>
    <ul>
        <li>El acceso a determinadas funcionalidades puede requerir registro.</li>
        <li>El usuario se compromete a proporcionar información veraz y actualizada.</li>
        <li>El usuario es responsable de mantener la confidencialidad de sus credenciales de acceso.</li>
        <li>Afacila podrá suspender cuentas que incumplan estas condiciones.</li>
    </ul>

    <h2>4. Uso permitido</h2>
    <p>El usuario se compromete a:</p>
    <ul>
        <li>No realizar actividades ilícitas, fraudulentas o que puedan dañar la Plataforma.</li>
        <li>No intentar acceder sin autorización a sistemas o datos.</li>
    </ul>
    <p>
        Queda prohibido el uso de la Plataforma para el envío de spam o actividades ilegales.
    </p>

    <h2>5. Envío de comunicaciones y correos electrónicos</h2>
    <p>
        La Plataforma puede enviar comunicaciones automáticas y correos electrónicos como parte del servicio.<br/>
        El usuario garantiza que dispone de autorización para el uso de los datos y direcciones de correo introducidas en la Plataforma.<br/>
        Afacila no se responsabiliza del uso indebido que el usuario haga del sistema de envío de comunicaciones.<br/>
    </p>

    <h2>6. Disponibilidad del servicio</h2>
    <p>
        Afacila no garantiza la disponibilidad continua de la Plataforma y podrá realizar interrupciones por mantenimiento, mejoras técnicas o causas externas.
    </p>

    <h2>7. Limitación de responsabilidad</h2>
    <p>La Plataforma se proporciona “tal cual”.</p>
    <p>Afacila no será responsable de:
    <ul>
        <li>Pérdidas indirectas o daños derivados del uso del servicio.</li>
        <li>Fallos causados por terceros, servicios externos o proveedores.</li>
        <li>Interrupciones temporales del servicio.</li>
    </ul>
    </p>
    <h2>8. Protección de datos</h2>
    <p>
        El tratamiento de datos personales se regirá por la Política de Privacidad correspondiente.<br/>
        El usuario acepta el tratamiento de los datos necesarios para el funcionamiento de la Plataforma.
    </p>
    
    <h2>9. Contacto</h2>
    <p>
        Para cualquier consulta relacionada con estas condiciones: afacila.tfe@gmail.com
    </p>
</div>